/* =============================================================================
# hilolt
============================================================================= */

@charset "utf-8";

/* a鏍囩鏍峰紡 */
a {
  text-decoration: none;
}

a:link {
  color: #1077BC;
}

a:hover {
  color: #FF9900;
  text-decoration: none;
}

a:active {
  color: #FF6699;
  text-decoration: none;
}

a:visited {
  color: #FF6699;
}

/* 涓婚〉涓ぎ鍖哄煙 */
html, body, div.wrapper {
  height: 100%;
  background-color: #F3F3F3;
}

/* 娈佃惤鏍峰紡 */
.paragraph {
  font-size: 15px;
  text-indent: 2em;
}

/* font-awesome post淇℃伅鎸夐挳鏍峰紡 */
.icon-folder-open, .icon-tags, .icon-calendar {
  color:#A84365;
}

.icon-double-angle-right {
  color: #FF6699;
}

/* 鑷畾涔夐珮浜牱寮�*/
.highlight pre,code {
  font-size: 15px;
  background-color: #000;
  color:#93A1A1;
}

blockquote {
  font-size: 15px;
  background-color: #FBFBFB;
  color:#000000;
}

blockquote p {
  font-size: 18px;
}
/* 瑕嗙洊bootstrap瀵艰埅鏉¤缃�*/
a.brand {
  height: auto;
}

.navbar ul.nav {
  padding: 15px 20px 15px;
  height:auto;
}

.navbar>.navbar-inner{
  padding-left: 0px;
  padding-right: 0px;
  border-left: none;
  border-right: none;
}

/* 瑕嗙洊瀵艰埅鏉℃縺娲昏彍鍗曠殑鑳屾櫙鑹茶缃�*/
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  background-color: transparent;
  box-shadow:none;
}

.navbar .nav>li.active>a {
  color:#EC6197; 
}

/* 瑕嗙洊typo.css涓璾l榛樿鐨刴argin-left灞炴� */
ul.tag_box {
  margin-left: 0;
}

ul.tag_box > li:first-child {
  padding-left: 0px;
}

/* 鏍囬鏍忔枃瀛楁牱寮�*/
.site-title {
  font-size: 14px;
  color: #1B813F;
}

.site-author {
  font-size: 28px;
  color: #169FDE;
}

/* 搴曢儴div瀹氫綅 */
div.wrapper>div.typo{
  padding-bottom: 60px;
}

/* 搴曟爮div鏍峰紡 */
div.bottom {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
}

/* 搴曟爮澹版槑閾炬帴鏍峰紡 */
a.license {
  color:#5E6087;
}

/* 瑙ｅ喅typo.css瑕嗙洊bootstrap鐨刲i.list-style */
ul.nav.nav-tabs {
  list-style: none;
}

/* 鎶�湳鏀寔鍒楄〃鏍峰紡 */
ul#support {
  margin-top: 20px;
}

.dispear {
  border-color: #F3F3F3;
}

ul#support.dispear>li {
  display:none;
}

ul#support.dispear>li:first-child {
  display:block;
}

ul#support.dispear>li>a {
  border-color: #F3F3F3;
  color: #F3F3F3;
}

ul#support.dispear>li>a:hover {
  background-color: transparent;
}


ul#support.dispear>li:first-child>a:hover {
  color: #CC527A;
}

ul#support.dispear>li:first-child>a>i.icon-star-empty {
  color: #F3F3F3;
}

ul#support.dispear>li:first-child>a:hover>i.icon-star-empty {
  color: #E8175D;
}

#support.show a {
  color: #CC527A;
}

.icon-ok, .icon-star-empty {
  color: #E8175D;
}

ul#support.show {
  border-color: #F3F3F3;
}

ul#support.show li {
  display:block;
}

ul#support.show a {
  border-color: #DDDDDD;
  color:#CC527A;
}

/* 鏂囩珷鏃ユ湡鏍峰紡 */
.post-date {
  color: #1077BC;
}

/* Datatable璁剧疆,搴旂敤bootstrap鏍峰紡 */
table#post-data {
  border-spacing:0;
  border-collapse:collapse;
}

table#post-data td, table#post-data th {
  color: #1077BC;
}

table#post-data .icon-calendar, table#post-data .icon-bookmark, table#post-data .icon-tags {
  color: #1077BC;
}

table#post-data a:hover {
  color: #FF6699;
}

div.row {
  margin-left: 0px;
}

/* 瑕嗙洊bootstrap榛樿鐨則ooltip璁剧疆 */
div.tooltip.right .tooltip-arrow {
  border-right-color: #1693A7;
}

div.tooltip-inner {
  font-size: 14px;
  color: #F3F3F3;
  background-color: #1693A7;
}

/* 褰掓。鍜屾椂闂寸嚎椤甸潰鍒楄〃鏍峰紡 */
ul.posts-list {
  list-style: none;
  position: relative;
}

ul.posts-list li{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #D9D7D4;
  margin-top: 9px;
  padding-bottom: 5px;
  font-size: 14px;
}

a.post-url {
  font-size: 16px;
  margin-left: 2px;
}

span.post-right-info {
  right: 0px;
  position: absolute;
  font-size: 16px;
  color: #BBBBBB;
}


/* 鏃堕棿閿氱偣鐨勬牱寮�*/
ul.time-list {
  margin-top: 10px;
}

ul.time-list a {
  font-size: 14px;
  color: #FF6699;
}

ul.time-list a>i.icon-chevron-right{
  color: #F3F3F3;
}

ul.time-list>li.active>a>i.icon-chevron-right {
  color: #333333;
}

/* about鏍峰紡 */
p.about {
  text-indent: 2em;
  font-size: 18px;
}

/* 閾炬帴table鏍峰紡 */
table#about-me td{
  font-size: 18px;
  padding:7px;
}

table#about-me a{
  color: #1077BC;
}
