---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include hilolt/setup %}
<div style="overflow:hidden">
  <h2>
    关于
  </h2>
  <p class="about" style="float:left">  
<a href="http://hilolt.info/"><img src="http://ww1.sinaimg.cn/mw690/a737bd24jw1e6w07bripmj20930bjgli.jpg"/></a> 
  </p>
  <div class="left" style="float:left">
  <table class="table table-striped" id="about-me" >
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/HILOLT" target="_blank">GITHUB</a></td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-weibo"></i> <span>我的新浪微博weibo</span></td>
        <td><a href="http://weibo.com/hilolt" target="_blank">WEIBO</a> </td>
      </tr>
	  <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>邮箱</span></td>
        <td><a href="mailto:renault118@gmail.com" target="_blank">G-MAIL</a> </td>
      </tr>
    </tbody>
  </table>
</div>  
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include hilolt/comments %}
